{% extends 'base2.html'%} {%block title %}Add Stock{%endblock%}
{%block css %}

.btn:hover{
background: transparent;
border: 2px solid #f9004d;
cursor: pointer;
}

}
#daba:hover{
color: red;
cursor: pointer;
}

.resultrow {
display: flex;
padding:20px;
{% comment %} margin-left:-5px;
margin-right:-5px; {% endcomment %}
}

.resultcolumn {
    flex: 50%;
    {% comment %} padding: 5px; {% endcomment %}
  }

{%endblock%}
{%block body %}
<br>
<h2 style="color: yellow; text-align:center;">Portfolio</h2>
<br>


<div class="resultrow">
    <div class="resultcolumn">
        <table class="table table-bordered" style="width: 100%;" id="stocks">
          <thead>
            <tr style="background:black;color:white;">
                <th scope="col">Stock Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Invested Value</th>
                <th scope="col">Market Price</th>
                <th scope="col">Current Value</th>
                <th scope="col">% Change</th>
                <th scope="col">Profit Loss</th>
            </tr>
          </thead>
        
          <tbody>
              <tr style="color:white;">
                  
                  <td>
                      {% for item in companyname %}
                      <p><strong>{{ item }}</strong></p>
                      {% endfor %}
                  </td>
                  
                  
                  <td>
                      {% for item in quantity %}
                      <p>{{ item }}</p>
                      {% endfor %}
                  </td>

                  <td>
                      {% for item in investedvalue %}
                      <p>{{ item|floatformat:2  }}</p>
                      {% endfor %}
                  </td>

                  <td>
                      {% for item in marketprice %}
                      <p>{{ item |floatformat:2 }}</p>
                      {% endfor %}
                  </td>

                  <td>
                      {% for item in currentvalue %}
                      <p>{{ item |floatformat:2 }}</p>
                      {% endfor %}
                  </td>

                  <td>
                      {% for item in percent %}
                      {% if item > 0 %}
                      <p style="color:green;">{{item}}%</p>
                      {% else %}
                      <p style="color:red;">{{item}}%</p>
                      {% endif%}
                      {% endfor %}
                  </td>

                  <td>
                      {% for item in profit %}
                      {% if item > 0 %}
                      <p style="color:green;">₹ {{item|floatformat:2 }}</p>
                      {% else %}
                      <p style="color:red;">₹ {{item|floatformat:2 }}</p>
                      {% endif%}
                      {% endfor %}
                  </td>
          
              </tr>
            </tbody>
          </table>
      </div>
    </div>

</div>
<br>
<div style="height: 400px;  margin-bottom:20px; display: flex;justify-content: center;">
    <canvas id="bar-chart" style="padding-left:20px;padding-right:20px;"></canvas>
    <canvas id="doughnut-chart"></canvas>
</div>

<div style="display: flex;">
    <div>
        <h5 style="margin-left:350px; color: white;">Investment in 2023</h5>
    </div>
    <div>
        <h5 style="margin-left:400px; color: white;">Sector Wise Investment</h5>
    </div>
</div>
<br>
<br>

<div style="height: 300px;  margin-bottom:20px; display: flex;justify-content: center;">
    <canvas id="bar-chart-grouped" style="margin-right:50px;"></canvas>
    
    <canvas id="bar-chart-grouped1"></canvas>
</div>

<div style="display: flex;">
    <div>
        <h5 style="margin-left:250px; color: white;">Invested vs Current</h5>
    </div>
    <div>
        <h5 style="margin-left:350px; color: white;">Buy Price vs Sell price</h5>
    </div>
</div>
<br>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
          labels: {{ sector|safe }},
          datasets: [{
            label: ["Invested Amount"],
            data: {{ investedvalue }}
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Sectorwise Investment'
          }
        }
    });
</script>



<script>
new Chart(document.getElementById("bar-chart"), {
type: 'bar',
data: {
  labels: ['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
  datasets: [
    {
      label: "Investment",
      backgroundColor: ["#8e5ea2"],
      data: {{bardata}}
    }
  ]
},
options: {
  legend: { display: true },
  title: {
    display: true,
    text: 'Investment in 2023'
  }
}
});
</script>

<script>
new Chart(document.getElementById("bar-chart-grouped"), {
type: 'bar',
data: {
  labels: [{% for i in data %} '{{i.ticker}}', {% endfor %}],
  datasets: [
    {
      label: "Invested",
      backgroundColor: "#3e95cd",
      data: {{investedvalue}}
    }, {
      label: "Current",
      backgroundColor: "#8e5ea2",
      data: {{currentvalue}}
    }
  ]
},
options: {
  title: {
    display: true,
    text: 'Population growth (millions)'
  },
   
}
});

new Chart(document.getElementById("bar-chart-grouped1"), {
type: 'bar',
data: {
  labels: [{% for i in selldata %} '{{i.ticker}}', {% endfor %}],
  datasets: [
    {
      label: "Buy Price",
      backgroundColor: "#3e95cd",
      data: {{buytotal}}
    }, {
      label: "Sell Price",
      backgroundColor: "#8e5ea2",
      data: {{selltotal}}
    }
  ]
},
options: {
  title: {
    display: true,
    text: 'Population growth (millions)'
  },
   
}
});
</script>

<script>
const stock = [{% for i in data %} '{{i.ticker}}', {% endfor %}]
</script>
{%endblock%}